.b-search
  display: inline-block
  input
    width: 200px
    padding: 10px 30px 10px 10px
    border: none
    border-radius: 5px
    outline: none
    background-color: rgba(255,255,255,.2)
    color: black
    transition: all .2s ease-in-out
    &:focus
      background-color: white