.b-button
  border-radius: 5px
  background-color: rgba(255,255,255,.2)
  border: none
  color: white
  padding: 10px
  margin: 0 5px
  outline: none
  cursor: pointer
  transition: all .2s ease-in-out
  &:hover
    background-color: rgba(0,0,0,.5)